body{
	counter-reset: section vectors_sum;
}

h2::before {
	counter-increment: section;
	content: "Rozdział "
counter(section) ". "	
}

article {
	counter-reset: subsection;
}

h3::before {
	counter-increment: subsection;
	content: counter(section) ". "
counter(subsection) ". "
}

.proof::before {
	content: "Dowod. ";
	font-style: italic;
}

.definition::after {
   position: absolute;
   counter-increment: vectors_sum;
   content: counter(vectors_sum );
}
