button, p {
    position: relative;
    z-index: 0;
}

#box {
    position: absolute;
    width: 100%;
    height: 220%;
    z-index: 1;
    opacity: 0.75;
    background-color: lightblue;
}
#box>button {
    width: 15%;
    margin: 50% 50% 50% 50%;
}